<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"/>

    <link href="../static/css/my_css.css" rel="stylesheet" type="text/css"/>

</head>
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }

</style>

<body>
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3 style="margin-bottom: 2.5em;">What is this?</h3>
                    

                    <p>If you want to design your post like this...</p>


                    <img src="../static/sample_ce.png" width="300" id="sample_image"/>
                    <p>and be featured on this...</p>
                    <img src="../static/spit_freshers_page.png" width="300" id="insta_page"/>
                    <P>click on the following button!</P>


                    <form method="post" action="design">
                        <button type="submit" class="btn btn-primary" id="design_button">Design</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>

</html>